.embla {
  /* max-width: 100vw; */
  margin: auto;
  --slide-height: 140px;
  /* --slide-spacing: 10px; */
  /* --slide-size: 45%; */
  /* --slide-height: 130px; */
  /* --slide-spacing: 140px; */
  --slide-size: 45%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 145px;
  /* border: 1px solid yellow; */
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  /* min-width: 0; */
  /* padding-left: var(--slide-spacing); */
  background-color: #fff;
  margin-left: 10px;

  width: 130px;
  height: 140px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

  filter: brightness(1);
}
.embla__slide:active {
  filter: brightness(0.5);
}

/* .embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
} */
