@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fcfcfc;
  font-family: "Pretendard-Regular";
}

.selectedLogo {
  border-radius: 50%;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

.searchContainer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 20px;

  /* border: 1px solid red; */
}
.searchBar {
  width: 230px;
  height: 25px;
  border-radius: 30px;
  border: 1px solid #000;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.searchBar input {
  /* height: 100%; */
  /* border-radius: 30px; */
  margin-left: 5px;
  border: none;
  background-color: none;
}
.searchBar input:focus {
  outline: 2px solid #301e9c;
}
.searchBtn {
  width: 18px;
  height: 18px;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradeSelect {
  width: 85px;
  height: 25px;
  border-radius: 30px;
  /* border: 1px solid yellow; */
}
.gradeSelect select {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.recommend {
  width: 170px;
  height: 15px;
  font-size: 10px;
  color: #828285;
  /* border: 1px solid red; */
  position: relative;
  left: 10%;
}

.photoReviewContainer {
  width: 100%;
  height: 110px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.reviewTitleContainer {
  width: 90%;
  height: 30px;
  /* border: 1px solid yellow; */
}
.reviewTitle {
  font-size: 18px;
  font-weight: bold;
}
.pointTypo {
  color: #803ed4;
}
.photoContainer {
  width: 90%;
  height: 85px;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
}
.photoItem {
  width: 80px;
  height: 60px;
  /* border: 1px solid green; */
}
