@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

.homeContainer {
  width: 100%;
  height: 100vh;
  background-color: #fcfcfc;

  margin: 0;
  padding: 0;
}

.logoSlider {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;

  /* overflow-x: scroll; */
}

.logoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  overflow-x: scroll;
}

.serviceLogo {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  filter: brightness(1);
}

.serviceLogo:last-child {
  margin-right: 0;
}

.serviceLogo:active {
  filter: brightness(0.5);
}

.bestContainer {
  width: 100vw;
  height: 240px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.bestContainer p {
  font-size: 20px;
  font-weight: bold;
  margin-left: -80%;
}

.bestSliderWrapper {
  width: 320px;
  height: 180px;
  /* border: 1px solid yellow; */
  padding: 0;

  overflow-y: scroll;
  position: relative;
}

.bestItem {
  width: 300px;
  height: 50px;
  margin-bottom: 5px;

  background-color: #fff;
  border: 0.5px solid #cccccc;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  /* border: 1px solid green; */

  display: flex;
}

.bestLeft {
  width: 40px;
  height: 50px;
  /* border: 1px solid yellow; */

  display: flex;
  align-items: center;
}

.bestRight {
  width: 260px;
  height: 50px;
  /* border: 1px solid green; */
  padding-top: 3px;
  padding-right: 3px;
}
.bestTop {
  font-size: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.bestBottom {
  font-size: 12px;
}

.awardContainer {
  width: 100%;
  height: 220px;
  /* border: 1px solid red; */
  /* margin-top: 45px; */
  text-align: center;
}

.awardContainer p {
  font-size: 20px;
  font-weight: bold;
}

.ads {
  width: 100%;
  height: 80px;
  background-color: beige;
}

.footer {
  width: 100%;
  height: 130px;
  background-color: #d9d9d9;
}
